:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: overlay;
  padding-bottom: 0%;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: rgb(220, 220, 220);
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  min-height: 100vh;
  height: auto;
  width: 90%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
button {
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4vh;
  height: 101%;
}
.app {
  height: auto;
  overflow: overlay;
  height: 101%;
}
.PictureCard {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 29vh;
  border-radius: 5%;
}

.PictureCard img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.favorite {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  background-color: rgba(118, 116, 116, 0.5);
  width: 100%;
  font-size: x-large;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorite > p {
  margin: 0px;
  width: 50%;
  max-height: 50%;
  overflow: hidden;
}

hr {
  border: 3px solid white;
  border-radius: 5px;
  width: 20%;
}
.notFavoritedBtn {
  background-color: rgb(185, 180, 180, 0.5);
  border: solid white 1px;
  color: white;
  border-radius: 20%;
}
.favoritedBtn {
  background-color: rgba(255, 255, 255);
  border: solid white 1px;
  color: black;
  border-radius: 20%;
}
/*media breakpoint for phones*/
@media only screen and (max-width: 600px) {
  .imageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4vh;
    height: 101%;
  }
  .favorite > p {
    margin: 0px;
    width: 50%;
    max-height: 30%;
    overflow: hidden;
  }
  .notFavoritedBtn {
    width: 60%;
    height: 25%;
    padding: 5%;
    font-size: 60%;
  }
  .favoritedBtn {
    width: 60%;
    height: 25%;
    padding: 5%;
    height: 25%;
    font-size: 60%;
  }
  hr {
    border: 3px solid white;
    border-radius: 5px;
    width: 40%;
  }
}
/*media breakpoint for tablets*/
@media only screen and (min-width: 600px) {
  .imageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4vh;
    height: 101%;
  }
  .favorite > p {
    margin: 0px;
    width: 50%;
    max-height: 30%;
    overflow: hidden;
  }
  .notFavoritedBtn {
    width: 40%;
    height: 25%;
    padding: 5%;
    font-size: 60%;
  }
  .favoritedBtn {
    border-radius: 20%;
    width: 40%;
    height: 25%;
    padding: 5%;
    height: 25%;
    font-size: 60%;
  }
}
/*media breakpoint for desktops*/
@media only screen and (min-width: 992px) {
  .notFavoritedBtn {
    width: 25%;
    padding: 5%;
    height: 25%;
    font-size: 60%;
  }
  .favoritedBtn {
    width: 25%;
    padding: 5%;
    height: 25%;
    font-size: 60%;
  }
}
